html, html.wp-toolbar {
  background-color: #01a2a8 !important; }

body #adminmenu .wp-submenu-head:hover, body #adminmenu .wp-submenu-head:focus, body #adminmenu a.menu-top:hover, body #adminmenu a.menu-top:focus {
  background: #01bbc2 !important; }

body #adminmenu li.wp-menu-separator {
  border-top: 1px solid #017f84;
  border-bottom: 1px solid #01b5bc; }
/**
 * @since 0.0.41 Lets set the default height
 */
.wrap {
  min-height: 500px; }
/* Links */
.wp-admin a, body.login a {
  color: #000; }
  .wp-admin a:hover, body.login a:hover, .wp-admin a:active, body.login a:active, .wp-admin a:focus, body.login a:focus {
    color: #000; }

a.nav-tab {
  color: #666 !important; }
  a.nav-tab.active {
    color: #000 !important; }
/* custom Badges */
.badge.new, #adminmenu .awaiting-mod, #adminmenu .update-plugins {
  background-color: #f48200 !important;
  color: #fff; }
  .badge.new.badge.new.no-new, #adminmenu .awaiting-mod.badge.new.no-new, #adminmenu .update-plugins.badge.new.no-new {
    min-width: 0 !important;
    padding-left: 5px;
    padding-left: 5px; }
  .badge.new.badge.new.no-new::after, #adminmenu .awaiting-mod.badge.new.no-new::after, #adminmenu .update-plugins.badge.new.no-new::after {
    content: "" !important; }
/* Core UI */
.wp-core-ui .button-primary {
  background-color: #f48200 !important;
  color: #fff;
  text-shadow: 0 -1px 1px #c16700, 1px 0 1px #c16700, 0 1px 1px #c16700, -1px 0 1px #c16700 !important; }
  .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:active, .wp-core-ui .button-primary:focus {
    background-color: #c16700 !important;
    color: #fff; }
  .wp-core-ui .wp-ui-primary {
    background-color: #f48200 !important; }
  .wp-core-ui .wp-ui-highlight {
    background-color: #f48200 !important; }
  .wp-core-ui .wp-ui-notification {
    background-color: #f48200 !important; }
  #wpadminbar.solid, #parallax-main-block .mwp-parallax, body.admin_page_wcx_wcreport_plugin_dashboard #wpadminbar {
    background-color: #000 !important; }

#wpbody-content h2:first-child:not(.nav-tab-wrapper):not(.long-header) > a, #wpbody-content h1:first-child:not(.nav-tab-wrapper):not(.long-header) > a, #wpbody-content > .subsubsub:not(.nav-tab-wrapper):not(.long-header) > a, .page-title-action, #wpbody-content h2 .add-new-h2 {
  background-color: #f48200 !important; }
  #wpbody-content h2:first-child:not(.nav-tab-wrapper):not(.long-header) > a:hover, #wpbody-content h1:first-child:not(.nav-tab-wrapper):not(.long-header) > a:hover, #wpbody-content > .subsubsub:not(.nav-tab-wrapper):not(.long-header) > a:hover, .page-title-action:hover, #wpbody-content h2 .add-new-h2:hover, #wpbody-content h2:first-child:not(.nav-tab-wrapper):not(.long-header) > a:active, #wpbody-content h1:first-child:not(.nav-tab-wrapper):not(.long-header) > a:active, #wpbody-content > .subsubsub:not(.nav-tab-wrapper):not(.long-header) > a:active, .page-title-action:active, #wpbody-content h2 .add-new-h2:active, #wpbody-content h2:first-child:not(.nav-tab-wrapper):not(.long-header) > a:focus, #wpbody-content h1:first-child:not(.nav-tab-wrapper):not(.long-header) > a:focus, #wpbody-content > .subsubsub:not(.nav-tab-wrapper):not(.long-header) > a:focus, .page-title-action:focus, #wpbody-content h2 .add-new-h2:focus {
    background-color: #c16700 !important; }

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background-color: transparent !important; }

div#parallax-main-block > div.mwp-parallax {
  background-color: #81d742 !important; }
  div#parallax-main-block > div.mwp-parallax img {
    opacity: 1; }
/* Desktops and laptops computers */
@media only screen and (min-width: 1224px) {
  /* Add you style here */
    body:not(.wp-customizer) #wpbody-content, #screen-meta-links {
      margin-left: 280px;
      width: 70.2% !important; }
    body.rtl:not(.wp-customizer) #wpbody-content, body.rtl #screen-meta-links, body.material-wp-menu-right:not(.wp-customizer) #wpbody-content, body.material-wp-menu-right #screen-meta-links {
      margin-right: 280px;
      width: 70.2% !important;
      margin-left: initial !important;
      float: right !important; }
    body.rtl #screen-meta-links, body.material-wp-menu-right #screen-meta-links {
      right: 0;
      margin-right: 0; }
    .theme-wrap {
      left: 280px !important; }
    body.rtl .theme-wrap, body.material-wp-menu-right .theme-wrap {
      right: 280px !important; }
    div.single-theme .theme-wrap {
      left: 0px !important; }
    #adminmenu {
      width: 280px !important; }
    #parallax-main-block {
      height: 300px !important; }
    #adminmenuwrap {
      margin-top: 300px !important; } }

@media only screen and (min-width: 1920px) {
  body:not(.wp-customizer) #wpbody-content, #screen-meta-links, body.rtl:not(.wp-customizer) #wpbody-content, body.rtl #screen-meta-links {
    width: 80% !important; } }

@media only screen and (min-width: 1600px) and (max-width: 1919px) {
  body:not(.wp-customizer) #wpbody-content, #screen-meta-links, body.rtl:not(.wp-customizer) #wpbody-content, body.rtl #screen-meta-links {
    width: 75% !important; } }
/**
 * Menu Icon Random Colors
 */
#adminmenu li.menu-top:not(.wp-menu-separator) div.wp-menu-image, #adminmenu li.menu-top:not(.wp-menu-separator) div.wp-menu-image:before {
  color: #fff !important; }
/**
 * menu Admin on the right
 */
@media only screen and (min-width: 1224px) {
  /**
   * Menu on the right CSS
   */
  /**
   * End of menu on the right
   */
    #mwp-user-card {
      width: 232px !important; }
    body.material-wp-menu-right #adminmenuwrap {
      right: 280px;
      left: auto !important; }
      body.material-wp-menu-right #adminmenu {
        right: 0;
        left: 0; }
      body.material-wp-menu-right:not(.wp-customizer):not #wpbody-content {
        left: auto;
        float: right;
        right: 280px;
        width: 70.2% !important; }
      body.material-wp-menu-right .theme-wrap {
        right: 280px !important;
        left: 30px !important; }
      body.material-wp-menu-right #parallax-main-block #mwp-user-card {
        right: -72px;
        width: 280px !important; } }
/**
 * FormCraft
 */
html div.formcraft-css div.options-head {
  left: 0;
  top: 55px;
  z-index: 99999; }

div.formcraft-css div.fields-list-right {
  top: 95px; }
/**
 * Fix Tooltip
 */
body.rtl div.material-tooltip {
  left: 0;
  /** fix **/
  top: 0;
  will-change: top, left;
  /** fix **/ }
/**
 * Revolution Slider
 */
body.toplevel_page_revslider #viewWrapper div.rs-mini-toolbar.sticky {
  top: 85px; }
/**
 * Reporting
 */
body .awr-menu {
  left: 280px;
  top: 55px; }

body .awr-menu.awr-close-toggle {
  -moz-transform: translate3d(-530px, 0, 0);
  -webkit-transform: translate3d(-530px, 0, 0);
  transform: translate3d(-530px, 0, 0); }
/**
 * Reporting
 */
body.admin_page_wcx_wcreport_plugin_dashboard .my_content {
  width: auto;
  margin-left: 280px; }

@media only screen and (max-width: 991px) {
  body.admin_page_wcx_wcreport_plugin_dashboard .my_content {
    margin-left: 0 !important; } }

body .awr-content {
  margin: 0 0 0 0; }

body:not(.rtl) #wpcontent, body:not(.rtl) #wpfooter, body:not(.material-wp-menu-right):not(.rtl) #wpcontent, body:not(.material-wp-menu-right):not(.rtl) #wpfooter {
  margin-left: 280px; }

#adminmenu li.menu-top:hover {
  background: transparent; }

#loader-wrapper, #awr_fullscreen_loading {
  display: none !important; }
/**
 * Gutenberg
 */
body.gutenberg-editor-page #wpbody-content {
  height: 100vh;
  margin-top: -55px; }

body .gutenberg .auto-fold.sticky-menu .editor-text-editor__formatting, body .gutenberg .auto-fold .editor-text-editor__formatting {
  left: 280px; }
  body .gutenberg .editor-header {
    top: 55px;
    left: 280px; }
  body .gutenberg .editor-sidebar {
    top: 111px; }

#wpadminbar #wp-toolbar > ul > li > a.ab-item, #wpadminbar #wp-toolbar > ul > li > a.ab-item .ab-label, #wpadminbar #wp-toolbar > ul > li > a.ab-item .ab-icon::before, #wpadminbar #wp-toolbar > ul > li > a.ab-item::before, #wpadminbar #wp-toolbar > ul > li > span, #wpadminbar #wp-toolbar > ul > li > div, #wpadminbar #adminbarsearch:before {
  color: #fff !important; }
/**
 *
 * AdminBar
 *
 */
div#wpadminbar {
  height: 55px !important;
  line-height: 55px !important; }

div#wpadminbar .ab-item, div#wpadminbar .quicklinks .ab-empty-item, div#wpadminbar .quicklinks .ab-empty-item a i, div#wpadminbar a.ab-item, div#wpadminbar > #wp-toolbar span.ab-label, div#wpadminbar > #wp-toolbar span.noticon {
  height: 55px !important;
  line-height: 55px !important; }

#wpadminbar .ab-icon, #wpadminbar .ab-icon:before, #wpadminbar .ab-item:before, #wpadminbar .ab-item:after {
  height: 55px !important;
  line-height: 55px !important; }

img.material-wp-logo {
  max-height: 45px; }

li.force-mdi i {
  line-height: 55px !important; }

div#wpadminbar .ab-icon:before, div#wpadminbar .ab-item:before, div#wpadminbar #adminbarsearch:before, div#wpadminbar input#adminbar-search:focus {
  line-height: 55px !important; }

div#wpadminbar input#adminbar-search:focus {
  height: 55px !important; }
/**
 * Height of menu items
 */
#wpadminbar .ab-sub-wrapper .ab-item {
  height: 40px !important;
  line-height: 40px !important; }
/**
 * Font size
 */
#wpadminbar .ab-item, #wpadminbar .quicklinks .ab-empty-item, #wpadminbar .quicklinks .ab-empty-item a i, #wpadminbar a.ab-item, #wpadminbar > #wp-toolbar span.ab-label, #wpadminbar > #wp-toolbar span.noticon {
  font-size: 16px !important; }

li.force-mdi i, a.ab-item span.ab-icon {
  font-size: 20.8px !important; }
button.wu-site-template-selector.button.btn.button-primary.btn-primary.wu-w-full.wu-text-center.wu-cursor-pointer {
  background: #000;
  color: #fff; }

.notice.notice-warning.fs-notice.fs-sticky.fs-slug-global_clone_resolution_notices.fs-type-plugin {
  display: none !important; }

p {
  display: block;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  margin-inline-start: 0px;
  margin-inline-end: 0px; }

span.gfield_required.gfield_required_text {
  color: red !important; }

#menu-users > ul > li > a {
  color: #fff !important; }

#wpbody-content > div.wrap.avada-dashboard.avada-db-slides.avada-registration-completed.avada-db-edit-screen > div.wrap > h1 {
  color: #f6f6f6 !important;
  display: inherit;
  width: 98%;
  margin-bottom: -1px !important;
  margin-top: 10px !important; }

img#gs1-barcode {
  margin-top: 20px;
  align-self: center;
  margin-right: 20px; }

body.single-coupon img#gs1-barcode {
  width: auto !important;
  height: auto !important;
  align-self: center; }

li#wp-admin-bar-new-shortcoder, li#wp-admin-bar-new-avada_portfolio, li#wp-admin-bar-new-avada_faq, li#wp-admin-bar-new-user, li#wp-admin-bar-gravityforms-new-form {
  display: none !important; }

ul#adminmenu {
  color: #fff !important; }

#acf-group_main_group > div.inside.acf-fields.-bottom > div.acf-field.acf-field-group.acf-field-biz-group > div.acf-input > div > div.acf-field.acf-field-email.acf-field-email-address {
  display: none; }

#menu-dashboard > ul > li > a {
  color: #fff !important; }

.wp-menu-name {
  color: #fff !important; }

div.inside > div.wu-styling > div.wu-widget-inset {
  display: none; }

#adminmenu li.current a.menu-top {
  background: #000 !important; }

#adminmenu .wp-not-current-submenu li > a {
  color: #fff !important; }

#wp-ultimo-limits-element > div.inside > div.wu-metabox-widget > div > div > ul > li:nth-child(4), #wp-ultimo-limits-element > div.inside > div.wu-metabox-widget > div > div > ul > li:nth-child(5), #wp-ultimo-limits-element > div.inside > div.wu-metabox-widget > div > div > ul > li:nth-child(6) {
  display: none; }

#adminmenu > li.wp-has-submenu > a.active {
  background: #000 !important; }

#wpadminbar.nojq {
  background: rgba(0, 0, 0, 0.458) !important; }

#wpadminbar.solid {
  background: #000 !important; }

body.wp-admin.post-type-coupon .fusion-builder-toggle-buttons, body.wp-admin.post-type-coupon #fusion_builder_layout, body.wp-admin.post-type-coupon #advanced-sortables, body.wp-admin.post-type-coupon #postdivrich {
  display: none !important; }

#adminmenu > li.wp-has-submenu.menu-top.menu-top-last.wp-has-current-submenu.wp-menu-open.active > ul > li > a {
  color: #fff !important; }

button.wu-site-template-selector.button.btn.button-primary.btn-primary.wu-w-full.wu-text-center.wu-cursor-pointer:hover {
  background: #fff;
  color: #000;
  border: 1px solid #000; }

li#wp-admin-bar-customize, li#wp-admin-bar-updates, li#wp-admin-bar-comments, li#wp-admin-bar-avada, li#wp-admin-bar-themes, li#wp-admin-bar-widgets, li#wp-admin-bar-menus {
  display: none !important; }

#wp-admin-bar-my-sites-list > li > div > ul > li:nth-child(2) {
  display: none !important; }

#wp-admin-bar-my-sites-list > li > div > ul > li:nth-child(3) {
  display: none !important; }

li.avada-db-menu-item.avada-db-menu-item-prebuilt-websites, li.avada-db-menu-item.avada-db-menu-item-maintenance, li.avada-db-menu-item.avada-db-menu-item-icons, .avada-db-menu-sticky-label.completed, a.avada-db-logo, section#avada-db-registration {
  display: none !important; }

span#wp-version {
  display: none !important; }

img.material-wp-logo {
  max-height: 30px;
  margin-top: 15px !important; }

.wrap {
  min-height: 75px !important; }

#bzsw-meta-id > div.inside > div > ul > li:nth-child(3) {
  display: none; }

#acf-group_main_group > div.inside.acf-fields.-bottom > div.acf-field.acf-field-group.acf-field-biz-group > div.acf-input > div > div.acf-field.acf-field-text.acf-field-contact-name.-r0 > div.acf-label > p > small {
  visibility: hidden !important; }

.thenumber {
  display: inline-flex; }

#acf-group_main_group > div.inside.acf-fields.-bottom > div.acf-field.acf-field-group.acf-field-biz-group > div.acf-input > div > div.acf-field.acf-field-text.acf-field-phone {
  display: none; }

.white-text-all {
  color: #fff !important; }

.white-text-all > span {
  color: #fff !important; }

.white-text-all > h1 {
  color: #fff !important; }

.white-text-all > h2 {
  color: #fff !important; }

.white-text-all > h3 {
  color: #fff !important; }

.white-text-all > h4 {
  color: #fff !important; }

.white-text-all > h5 {
  color: #fff !important; }

.white-text-all > h6 {
  color: #fff !important; }

#card-element.StripeElement {
  padding: 20px 10px; }

.fusion_builder_modal_inner_row_overlay {
  display: none !important; }

.update-nag.notice.notice-warning.inline {
  display: none !important; }

#wp-version-message > a {
  display: none; }

div#screen-meta-links {
  width: 97% !important;
  margin: 0px 0px 0px 0px !important; }

div#contextual-help-link-wrap {
  display: none !important; }

.toplevel_page_ai1wm_export > div.wp-menu-image:before {
  background: unset !important; }

body.toplevel_page_theme-web-settings #acf-group_main_group > div.inside.acf-fields.-bottom > div.acf-tab-wrap.-top > ul > li:nth-child(2) {
  display: none; }

body.toplevel_page_theme-web-settings #acf-group_main_group > div.inside.acf-fields.-bottom > div.acf-tab-wrap.-top > ul > li:nth-child(3) {
  display: none; }

body.toplevel_page_theme-web-settings #acf-group_main_group > div.inside.acf-fields.-bottom > div.acf-tab-wrap.-top > ul > li:nth-child(4) {
  display: none; }

#login h1 a, .login h1 a {
  background-image: url(https://grocerystorewebsites.com/wp-content/uploads/2022/03/Grocery_Store_Websites_Admin_Logo.png);
  background-position: center center !important;
  background-size: cover !important;
  width: 610px !important;
  margin-left: -158px; }

body.toplevel_page_theme-web-settings #acf-group_main_group > div.inside.acf-fields.-bottom > div.acf-tab-wrap.-top > ul {
  display: flex; }

body.toplevel_page_theme-web-settings #acf-group_main_group > div.inside.acf-fields.-bottom > div.acf-tab-wrap.-top > ul > li:nth-child(1) {
  order: 1; }

body.toplevel_page_theme-web-settings #acf-group_main_group > div.inside.acf-fields.-bottom > div.acf-tab-wrap.-top > ul > li:nth-child(8) {
  order: 2; }

body.toplevel_page_theme-web-settings #acf-group_main_group > div.inside.acf-fields.-bottom > div.acf-tab-wrap.-top > ul > li:nth-child(6) {
  order: 3; }

body.toplevel_page_theme-web-settings #acf-group_main_group > div.inside.acf-fields.-bottom > div.acf-tab-wrap.-top > ul > li:nth-child(5) {
  order: 4; }

body.toplevel_page_theme-web-settings #acf-group_main_group > div.inside.acf-fields.-bottom > div.acf-tab-wrap.-top > ul > li:nth-child(7) {
  order: 6 !important; }

body.toplevel_page_theme-web-settings #acf-group_main_group > div.inside.acf-fields.-bottom > div.acf-tab-wrap.-top > ul > li:nth-child(11) {
  order: 5; }

body.toplevel_page_theme-web-settings #acf-group_main_group > div.inside.acf-fields.-bottom > div.acf-tab-wrap.-top > ul > li:nth-child(9) {
  order: 9 !important; }

body.toplevel_page_theme-web-settings #acf-group_main_group > div.inside.acf-fields.-bottom > div.acf-tab-wrap.-top > ul > li:nth-child(10) {
  order: 8 !important; }

body.toplevel_page_theme-web-settings #acf-group_main_group > div.inside.acf-fields.-bottom > div.acf-tab-wrap.-top > ul > li:nth-child(12) {
  order: 10 !important; }

.update-php .wrap {
  max-width: 100%; }

body.toplevel_page_material-wp_settings div.wrap > p {
  display: none; }

header.gform-settings-header {
  display: none; }

div.row-actions > span.gutenberg {
  display: none; }

div.row-actions > span.hide-if-no-js:nth-child(4) {
  display: none !important; }

li#wp-admin-bar-new-shortcoder {
  display: none; }

.updated.success.fs-notice.fs-has-title.fs-slug-post-smtp.fs-type-plugin {
  display: none !important; }

.gform-dialog__mask.gform-dialog__mask--position-fixed.gform-dialog__mask--theme-light.gform-dialog__mask--blur.gform-dialog--anim-in-ready.gform-dialog--anim-in-active {
  display: none !important; }

body.toplevel_page_gf_edit_forms .gform-form-toolbar {
  margin-top: 25px !important;
  width: 57.33333% !important; }

div#form_editor_fields_container {
  background: #fff;
  margin-top: 20px;
  max-width: 55% !important;
  width: 55% !important; }

#acf-group_main_group > div.inside.acf-fields.-bottom > div.acf-field.acf-field-group.acf-field-biz-group > div.acf-input > div > div.acf-field.acf-field-text.acf-field-contact-name.-r0 {
  display: none; }

#acf-group_main_group > div.inside.acf-fields.-bottom > div.acf-tab-wrap.-top > ul > li:nth-child(5) {
  display: none; }

#fusion-load-studio-dialog {
  display: none !important; }

li#wp-admin-bar-fc_global_search {
  display: none; }

.fluentcrm_main_menu_items {
  background: #fff;
  display: block;
  margin-bottom: 20px;
  margin-left: 0px !important;
  padding-left: 10px;
  position: relative; }

#wpbody-content > div.fluentcrm_app_wrapper > div.fluentcrm_main_menu_items > div.fluentcrm_menu_logo_holder > a {
  display: none !important; }

#wpbody-content > div.fluentcrm_app_wrapper > div.fluentcrm-app > div > div > div > div.el-col.el-col-5 > ul > li:nth-child(14), #wpbody-content > div.fluentcrm_app_wrapper > div.fluentcrm-app > div > div > div > div.el-col.el-col-5 > ul > li:nth-child(13) {
  display: none !important; }

#wpbody-content > div.fluentcrm_app_wrapper > div.fluentcrm-app > div > div > div > div.el-col.el-col-24.el-col-sm-24.el-col-md-8.el-col-lg-6 > div:nth-child(2), #wpbody-content > div.fluentcrm_app_wrapper > div.fluentcrm-app > div > div > div > div.el-col.el-col-24.el-col-sm-24.el-col-md-8.el-col-lg-6 > div:nth-child(3) > div.fluentcrm_body > ul > li:nth-child(8) {
  display: none; }

div#first-welcome-message {
  background: #e74646;
  color: #fff;
  padding: 20px;
  border-radius: 10px; }

#first-welcome-message > div:nth-child(1) {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px; }

.updated.success.fs-notice.fs-has-title.fs-slug-easy-facebook-likebox.fs-type-plugin {
  display: none !important; }

.update-nag.fta_msg.fta_review {
  display: none !important; }

#wpbody-content > div.wrap > div.updated.success.fs-slug-post-smtp.fs-type-plugin {
  display: none !important; }

#first-welcome-message > div:nth-child(2) {
  font-size: 14px; }

.notice.notice-info.shortcodes-ultimate-notice-unsafe-features {
  display: none !important; }

.promotion.fs-notice.fs-slug-easy-facebook-likebox.fs-type-plugin {
  display: none !important; }

body.toplevel_page_theme-web-settings #post-body.columns-2 {
  display: flex;
  flex-direction: column;
  margin-right: 0px !important; }

body.toplevel_page_theme-web-settings div#postbox-container-1 {
  order: 1; }

body.toplevel_page_theme-web-settings #poststuff #post-body.columns-2 div#side-sortables {
  display: flex;
  flex-direction: row;
  width: 100% !important;
  min-width: 100% !important;
  margin-left: 43vw; }

body.toplevel_page_theme-web-settings #post-body.columns-2 div#side-sortables #submitdiv {
  order: 2;
  border: 0px;
  background: #fff; }

body.toplevel_page_theme-web-settings #acf-group_nav_menu > div.postbox-header, body.toplevel_page_theme-web-settings #submitdiv div.postbox-header {
  display: none; }

body.toplevel_page_theme-web-settings #publishing-action .spinner {
  display: none !important; }

body.toplevel_page_theme-web-settings #major-publishing-actions {
  background: #fff;
  border-top: 0px;
  align-self: center;
  display: flex; }

body.toplevel_page_theme-web-settings #acf-group_nav_menu {
  border: 0px; }

body.toplevel_page_theme-web-settings #acf-group_nav_menu > div.inside.acf-fields.-bottom {
  border-right: 2px solid #d1cece 4d; }

body.toplevel_page_theme-web-settings a.button.button-primary.button-large.waves-effect.waves-light {
  float: right;
  margin-top: -5px; }

body.formidable_page_formidable-entries #screen-meta-links, body.toplevel_page_formidable #screen-meta-links, body.toplevel_page_formidable .frm-upgrade-bar, body.formidable_page_formidable-entries .frm-upgrade-bar {
  display: none !important; }

@media (min-width: 783px) {
  .editor-sidebar {
    top: 57px !important; } }
